.navbar-brand {
  color: $gray-900 !important;
}

@function gray($key: "100") {
  @return map-get($grays, $key);
}

@for $i from 1 through 9 {
  .text-gray-#{$i}00 {
    color: gray("#{$i}00");
  }
  .bg-gray-#{$i}00 {
    background-color: gray("#{$i}00");
  }
}

.form-control:focus {
  box-shadow: none;
  border-color: $primary;
}

input[type="search"] {
  border: none;
  border-radius: 0px;
  ::placeholder {
    color: gray("300");
  }
}

.search--group {
  // background: blue;
  border-radius: .25rem;
  &:hover {
    input[type="search"], .input-group-text {
      background-color: gray("200");
    }
  }
  .input-group-text {
    background-color: transparent;
    border: none;
    border-radius: 0px;
  }
}
