@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

$primary: #5255E2;
$secondary: #FF6F63;
$success: #49C783;
$warning: #F8A22D;
$danger: #D02727;
$info: #40AFE9;
$dark:  #232349;

$font-family-base: 'Poppins', sans-serif;
$font-family-sans-serif: 'Poppins', sans-serif;
$headings-font-family: 'Poppins', sans-serif;
$headings-font-weight: 700;
$enable-responsive-font-sizes: true;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.125;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.875;

$font-sizes: (
  1: 1.5rem,
  2: 1.25rem,
  3: 1.125rem,
  4: 1rem,
  5: 0.875rem,
  6: 0.75rem
);

$display-font-sizes: (
  1: 3rem,
  2: 2rem,
  3: 1.5rem,
  4: 1.125rem,
  5: 1rem,
  6: 0.875rem
);

$grays: (
  "100": #DEDEE3,
  "200": #D3D3DA,
  "300": #B2B2BF,
  "400": #86869A,
  "500": #5A5A76,
  "600": #434363,
  "700": #232349,
  "800": #2B2B41,
  "900": #191929,
);
